.bs {
    color: rgb(184, 41, 78);
    color: rgb(38, 93, 151);
    color: rgb(179, 165, 32);
    color: rgb(213, 153, 86);
    color: rgb(131, 87, 61);
    color: rgb(229, 69, 51);
    color: rgb(203, 76, 129),;
    color: rgb(218, 129, 178);
    color: rgb(83, 109, 201);
    color: rgb(49, 136, 95);
    color: rgb(107, 48, 37);
    color: rgb(52, 58, 95);
    color: rgb(139, 36, 82);
    color: rgb(27, 174, 192);
    color: rgb(216, 204, 36);
    color: rgb(225, 174, 167);
    color: rgb(39, 83, 85);
}